MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/project2
DNS_SERVERS=1.1.1.1,8.8.8.8
PORT=3000
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
CALLBACK_URL=http://localhost:3000/github/callback
SESSION_SECRET=your_session_secret